.FormPromptWithSub {
    display: block;
}

.FormPromptWithSub__prompt {
    font-weight: bold;
    padding: 0 0 10px;
}

.FormPromptWithSub__subtitle {
    font-weight: 600;
    color: rgb(88, 88, 88)
}