.FormPromptWithSub {
    display: block;
    margin-bottom: 1vh;
    font: 400 16px/20px Poppins, sans-serif;
}

.FormPromptWithSub__prompt {
    padding-bottom: 2vh;
}

.FormPromptWithSub__subtitle {
    color: #585858
}