.FormPromptWithSub {
    display: block;
}

.FormPromptWithSub_prompt {
    font-weight: bold;
    padding: 0 0 10px;
}

.FormPromptWithSub_subtitle {
    font-weight: 600;
    color: rgb(88, 88, 88)
}