.NotionCarousel {
    max-height: 80vh;
    overflow: scroll;
}

.NotionCarousel h4 {
    font: italic 600 16px/20px Poppins, sans-serif;
    color: #6d6d6d;
}

.NotionCarousel__items {
    display: flex;
    flex-direction: row;
    width: max-content;
}

.NotionCarousel__notion > div {
    padding-bottom: 10px;
}

.NotionCarousel__notion {
    padding: 3vh 7vw 1vh;
    margin: 3vh 2vw 1vh;
    border: 1px solid #e3e2e2;
    border-radius: 20px;
    width: 80vw;
}

.NotionCarousel__stage {
    text-decoration: underline;
}

@media screen and (min-width: 768px) {
    .NotionCarousel__notion {
        width: 40vw;
        padding: 3vh 4vw 2vh;
        margin: 1vh 1vw;
    }
}

@media screen and (min-width: 1024px) {
    .NotionCarousel__items {
        padding: 2vh 0;
    }
    .NotionCarousel__notion {
        width: 35vw;
        padding: 4vh 3vw;
        margin: 0 2vw 0 0;
    }
}

@media screen and (min-width: 1024px) and (min-height: 1366px) {
    .NotionCarousel__items {
        padding: 1vh 0;
    }

    .NotionCarousel__notion {
        padding: 2vh 3vw;
    }
}

@media screen and (min-width: 1440px) {
    .NotionCarousel__notion {
        width: 25vw;
    }
}

@media screen and (min-width: 2560px) {
    .NotionCarousel h4 {
        font: italic 600 20px/28px Poppins, sans-serif;
        color: #6d6d6d;
    }
    
    .NotionCarousel__notion {
        width: 18vw;
        padding: 2vh 2vw;
    }
}