.AllCategories {
    font: 500 'Poppins', sans-serif;
    padding: 0 15px;
}

.AllCategories h1 {
    padding: 0 0 25px;
    font-size: 20px;
}

.AllCategories h2 {
    padding: 0 0 25px;
    font-size: 20px;
}

.AllCategories__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 1em 0 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}