* {
    box-sizing: border-box;
}

.ProductListPage {
    padding: 0 15px;
}

.ProductListPage__product-list {
    /* list-style-type: none; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 1em 0 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}