* {
    box-sizing: border-box;
}

.ProductListPage {
    
    padding: 0 15px;
    font-family: 'Poppins', sans-serif;
}

/* .ProductListPage > header */

.ProductListPage > header > h1 {
    padding: 0 0 25px;
    font-size: 20px;
    font-weight: 500;
}

.ProductListPage > ul {
    font-weight: 500;
}

.ProductListPage > ul > p {
    padding: 0 0 25px;
    font-size: 20px;
    font-weight: 500;
}

.ProductListPage__no-products {
    height: 80vh;
}

.ProductListPage__product-list {
    /* list-style-type: none; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 1em 0 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}