.PhotoCarousel {
    width: 100%;
    overflow: scroll;
}

.PhotoCarousel__items {
    display: flex;
    flex-direction: row;
    overflow: scroll;
}

.PhotoCarousel__items > li > img {
    width: 80vw;
    padding: 0 10px 0 0;
}

.PhotoCarousel__items > div {
    padding: 0 10px 0 0;
    width: 300px;
}

#section-carousel > .PhotoCarousel__items {
    width: 150%;
}