.NPFFabrics .FormPromptWithSub {
    margin: 2vh 0 0;
}

.NPFFabrics .FormPopUp .FormButton {
    background-color: #F2E7F1;
}

.NPFFabrics .FormPopUp .FormPopUp__close-button {
    font-size: 12px;
}

.NPFFabrics .FormPopUp .FormPopUp__close-button {
    font-size: 12px;
}