.NPFFooter {
    height: 10vh;
    width: 100%;
    background-color: rgb(71, 48, 92);
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: match-parent;
    position: absolute;
    bottom: 0;
    left: 0;
}

.NPFFooter button {
    background: rgba(255, 255, 255, 0);
    font-weight: bold;
    font-size: 16px;
}

.NPFFooter_previous {
    padding: 1rem 1rem 1rem 0;
}

.NPFFooter_next {
    padding: 1rem 0 1rem 1rem;
}

.NPFFooter_arrow {
    margin-left: 10px;
    margin-right: 10px;
}