.FormTextInput {
    width: 100%;
    margin-bottom: 2vh;
}

.FormTextInput input {
    display: block;
    width: 100%;
    margin: 5px 0px 10px;
    padding: 10px;
    font: inherit;
    width: 100%;
}