.Footer__social-link {
    background-color: rgb(236, 236, 236);
    list-style: none;
    padding: 3px 0;
}

.Footer__social-link a {
    text-decoration: none;
    color: black;
}

.Footer__social-link img {
    height: 30px;
}