.ProductDetail > section {
    padding: 10px;
}

.ProductDetail > section {
    position: relative
}

.ProductDetail__brand-name {
    font-weight: 500;
    font-size: 20px;
}

.ProductDetail__button-like {
    border-radius: 15px;
    width: 100px;
    background-color: rgb(238, 238, 238);
    color: #000;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 0;
    text-align: center;
}

.ProductDetail__button-section {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 50%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

.ProductDetail__color-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ProductDetail__color {
    padding: 0 10px 0 0;
}

.ProductDetail__color > button {
    width: 50px;
    height: 50px;
    padding: 0 10px 0 0;
    border-radius: 10px;
}

.ProductDetail__color > button > img {
    width: 100%;
    /* padding: 0 10px 0 0; */
    border-radius: 20px;

}

.ProductDetail__color-section {
    width: 100%;
}

.ProductDetail__heart, 
.ProductDetail__section-button {
    margin: 0;
    padding: 0;
    color: #000;
    width: 30px;
}

.ProductDetail__fabric {
    box-sizing: content-box;
    width: 100%;
    overflow: hidden;
}

.ProductDetail__fabric-list {
    width: 150%;
    box-sizing: content-box;
    display: flex;
    flex-direction: row;
    overflow: scroll;
}

.ProductDetail__info-section {
    width: 70%;
}

.ProductDetail__carousel-item {
    box-sizing: content-box;
    margin: 0 10px 0 0;
    width: 300px;
}

.ProductDetail__section.active {
    display: initial;
}

.ProductDetail__section {
    display: none;
}

.ProductDetail__product-name {
    font-size: 20px;
}

.ProductDetail__section-button {
    position: absolute;
    top: 10px;
    right: 10px;
}