.EmailSignUp {
    background-color: white;
    list-style-type: none;
    padding: 8vh 8vw 2vh;
    border: solid white;
    border-radius: 0 150px 0 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    font: 400 16px/20px Poppins;
    letter-spacing: 1px;
    color: #041516;
}

@media screen and (min-width: 1440px) {
    .LandingPage .EmailSignUp {
        padding: 10vh 15vw;
    }

}