.ProductDetailSection {
    max-height: 80vh;
    position: relative;
    padding: 4vw;
}

.ProductDetailSection__body > section > h4 {
    text-decoration: underline;
    font: 400 16px/20px Poppins, sans-serif;
}

.ProductDetailSection .FabricCarousel__fabric-title {
    font: italic 600 16px/20px Poppins, sans-serif;
    color: #6d6d6d;
    text-decoration: none;
}

.ProductDetailSection__body {
    display: none;
    font: 400 16px/20px Poppins, sans-serif;
}

.ProductDetailSection__body.active {
    display: initial;
}

.ProductDetailSection__button {
    position: absolute;
    top: 5vw;
    right: 4vw;
    margin: 0;
    padding: 0;
    color: #000;
    width: 30px;
}

@media screen and (min-width: 768px) {
    .ProductDetailSection {
        max-height: 80vh;
        position: relative;
        padding: 3vw;
    }

    .ProductDetailSection__button {
        font-size: 20px;
        top: 20px;
        right: 3vw;
    }
}

@media screen and (min-width: 1024px) {
    .ProductDetailSection {
        padding: 3vh 3vw;
    }

    .ProductDetailSection__body {
        display: initial;
        font: 400 16px/20px Poppins, sans-serif;
    }

    .ProductDetailSection__button {
        display: none;
        font-size: 20px;
        top: 25px;
        right: 4vw;
    }

    .ProductDetailSection__line {
        display: none;
    }
}

@media screen and (min-width: 1024px) and (min-height: 1366px) {
    .ProductDetailSection {
        padding: 1vh 3vw;
    }

    .ProductDetailSection__body {
        display: initial;
        font: 400 16px/20px Poppins, sans-serif;
    }

    .ProductDetailSection__button {
        display: none;
        font-size: 20px;
        top: 25px;
        right: 4vw;
    }

    .ProductDetailSection__line {
        display: none;
    }
}

@media screen and (min-width: 1440px) {
    .ProductDetailSection {
        padding: 15px 45px;
    }
}

@media screen and (min-width: 2560px) {
    .ProductDetailSection__body > section > h4 {
        text-decoration: underline;
        font: 400 20px/28px Poppins, sans-serif;
    }
    
    .ProductDetailSection .FabricCarousel__fabric-title {
        font: italic 600 20px/28px Poppins, sans-serif;
        color: #6d6d6d;
        text-decoration: none;
    }
    
    .ProductDetailSection__body {
        display: initial;
        font: 400 20px/28px Poppins, sans-serif;
    }
}
