.empty {
    height: 0;
}

.FormPage {
    padding: 0 5vw 10vh;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font: 16px/20px Poppins, sans-serif;
}

.FormPage button {
    font: 400 16px/22px Poppins, sans-serif;
}

.FormPage form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.FormPage h1 {
    text-align: center;
    padding: 5vh 0;
    font: 300 30px Poppins, sans-serif;
}

.FormPage li {
    list-style: none;
}

.FormPage select {
    width: 100%;
}

.FormPage .login-links {
    /* text-align: center; */
    font-size: 18px;
    line-height: 22px;
}

.FormPage .login-links p,
.FormPage .login-links a {
    font-size: 20px;
    display: block;
    padding: 3vh;
}

.FormPage .NPFImages__preview-images {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 auto 0;
}

.FormPage .NPFImages__preview-img { 
    width: 23%;
    margin: 5px 2% 0 0;
}

.FormPage .NPFImages__preview-img img { 
    width: 100%;
}

@media screen and (min-width: 768px) {
    .FormPage {
        padding: 0 7vw 15vh;
        height: 90vh;
    }
}

@media screen and (min-width: 1024px) {
    .FormPage {
        padding: 0 7vw 15vh;
        height: 100%;
    }
}

@media screen and (min-width: 1024px) and (min-height: 1366px) {
    .FormPage {
        padding: 0 10vw 15vh;
        height: 93vh;
    }
}

@media screen and (min-width: 1440px) {
    .FormPage {
        padding: 5vh 15vw 10vh;
    }
}

@media screen and (min-width: 2560px) {
    .FormPage {
        padding: 5vh 25vw 10vh;
    }
}