.empty {
    height: 0;
    width: 0;
}

.MenuItem__primary, .MenuItem__secondary, .MenuItem__secondary-menu-header {
    font-size: 18px;
    height: 50px;
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    transition: background var(--speed);
    padding: 0.5rem;
}

.MenuItem__primary {
    justify-content: flex-start;
}

.MenuItem__secondary {
    justify-content: flex-start;
}

.MenuItem__secondary-menu-header {
    font-weight: bold;
    /* position: absolute;
    top: -45px; */
}

.MenuItem:hover {
    background-color: rgb(167, 167, 167);
}

.MenuItem__icon-left {
    margin-right: auto;
}

.MenuItem__icon-right {
    margin-left: auto;
}

@media screen and (min-width: 768px) {   
    /* .MenuItem {
        height: 50px;
        width: 150px;
        padding: 0;
        text-align: center;
    } */

    .MenuItem__primary {
        height: 45px;
        padding: 0;
    }

    .MenuItem__icon-left {
        display: none;
    }

    .MenuItem__icon-right {
        display: none;
    }
}