.ForgotPassword {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font: arial;
    height: 90vh;
}

.ForgotPassword > a {
    position: absolute;
    bottom: 20px;
    color: rgb(67, 67, 67);
}

.ForgotPassword > button {
    margin: 0;
    width: 100%;
}

.ForgotPassword > header {
    text-align: left;
    padding: 4vh 0 4vh;
    width: 50%;
}

.ForgotPassword > header > h2 {
    text-align: left;
}

.ForgotPassword__fieldset {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: none;
    padding: 5vh 0;
}

.ForgotPassword__fieldset > div {
    margin: 5px;
    color: rgb(67, 67, 67);
}

.ForgotPassword__fieldset > div > input {
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: solid 1px grey;
    padding: 2px;
}