.ProdCarousel {
    width: 100%;
    overflow: scroll;
}

.ProdCarousel__items {
    display: flex;
    flex-direction: row;
}

.ProdCarousel__items > li {
    padding: 0 10px 0 0;
}

.ProdCarousel__items > li > img {
    width: 80vw;
}

@media screen and (min-width: 768px) {
    .ProdCarousel__items > li > img {
        width: 40vw;
    }
}

@media screen and (min-width: 1024px) {
    .ProdCarousel {
        width: 40%;
    }

    .ProdCarousel__items {
        flex-direction: column;
        align-items: center;
    }

    .ProdCarousel__items > li > img {
        width: auto;
        height: 70vh;
    }
}

@media screen and (min-width: 1024px) and (min-height: 1366px) {
    .ProdCarousel {
        width: 40%;
    }

    .ProdCarousel__items > li > img {
        height: 30vh;
    }
}

@media screen and (min-width: 1440px) {
    .ProdCarousel {
        width: 40%;
    }

    .ProdCarousel__items > li > img {
        height: 50vh;
    }
}

@media screen and (min-width: 2560px) {
    .ProdCarousel {
        width: 50%;
    }

    .ProdCarousel__items > li > img {
        height: 40vh;
    }
}