.ErrorPageApi {
  background-color: white;
  list-style-type: none;
  padding: 15vh 15vw 15vh 10vw;
  margin: 20vh 0;
  width: 100%;
  border: solid white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.ErrorPageApi h2 {
  padding: 3vh 0;
}

.ErrorPageApi header p {
  font: 400 16px/24px Poppins;
  letter-spacing: 1px;
  color: #041516;
}

.ErrorPageApi p {
  padding: 3vh 0;
}

.ErrorPageApi > ul {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.ErrorPageApi > a {
  padding: 15px 0;
}

@media screen and (min-width: 360px) {
  .ErrorPageApi {
      padding: 15vh 15vw 15vh 10vw;

  }
}

@media screen and (min-width: 375px) {
  .ErrorPageApi {
      padding: 18vh 15vw 18vh 10vw;
  }
}

@media screen and (min-width: 375px) and (min-height: 812px) {
  .ErrorPageApi {
      padding: 15vh 15vw 15vh 10vw;
  }
}

@media screen and (min-width: 411px) {
  .ErrorPageApi {
      margin: 20vh 0;
      padding: 12vh 15vw 12vh 10vw;
  }
}

@media screen and (min-width: 540px) {
  .ErrorPageApi {
      margin: 20vh 0;
      padding: 12vh 15vw 12vh 10vw;
  }
}

@media screen and (min-width: 768px) {
  .ErrorPageApi {
      padding: 5vh;
      margin: 10vh 0;
  }

  .ErrorPageApi h2 {
      padding: 2vh 0;
  }
}

@media screen and (min-width: 1024px) {
  .ErrorPageApi {
      padding: 10vh 8vw 10vh 5vw;
  }
}

@media screen and (min-width: 1024px) and (min-height: 1366px) {
  .ErrorPageApi {
      padding: 7vh 12vw 7vh 8vw;
  }
}

@media screen and (min-width: 1440px) {
  .ErrorPageApi {
      padding: 10vh 10vw 10vh 5vw;
      margin: 20vh 0;
  }    
}

@media screen and (min-width: 2560px) {
  .ErrorPageApi {
      padding: 5vh 10vw 5vh 5vw;
      margin: 10vh 0;
  }
}