.FabricCarousel {
    max-height: 80vh;
    overflow: scroll;
    width: 100%;
}

.FabricCarousel__items {
    display: flex;
    flex-direction: row;
    overflow: scroll;
}

.FabricCarousel__items > img {
    width: 80vw;
    padding: 0 10px 0 0;
}

.FabricCarousel__items > li {
    padding: 0 10px 0 0;
    width: 90vw;
}

.FabricCarousel__stage {
    text-decoration: underline;
}

#section-carousel > .FabricCarousel__items {
    width: 150%;
}