.FormButton {
    width: 80%;
    color: #041516;
    background-color: #F2E7F1;
    border: 1px solid #F2E7F1;
    border-radius: 40px;
    padding: 2vh 5vh;
    margin: 4vh auto;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.FormButton:active {
    background-color:  #cbbac8;
    color: white;
}

@media screen and (min-width: 411px) {
    .FormButton {
        width: fit-content;
        padding: 2vh 7vh;
    }    
}

@media screen and (min-width: 1024px) and (min-height: 1366px) {
    .FormButton {
        padding: 1vh 3vh;
        margin: 2vh auto 4vh;
    }
}