.Backdrop {
    display: none;
}

.Backdrop.active {
    display: initial;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #ffffff47;
    z-index: 2;
}