a {
    text-decoration: none; 
}

button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #fff;
    color: #ffffff;
    font-family: sans-serif;
    letter-spacing: 1px;
    cursor: pointer;
    text-align: center;
    transition: 250ms ease-in-out, 
      transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

main {
    width: 100vw;
}

main a:hover {
    color: #c5b1c3;
}
    
main a:active {
    color: #c5b1c3;
}