.close-button {
    position: absolute;
    top: 0;
    right: 0;
}

.NewProductForm input {
    border: 1px solid #767676;
    border-radius: 5px;
}

.NewProductForm .NPFFinish header {
    margin: 0 auto;
    text-align: center;
}

.NewProductForm__exceptions {
    padding: 2px 12px;
}

.NewProductForm .NPFNewProduct .FormPromptWithSub p {
    font-weight: initial;
    padding: 0 0 10px;
}

.NewProductForm__not-permitted {
    height: 80vh;
    width: 95vw;
}

.NewProductForm__button-like {
    text-align: center; 
    width: 80%;
    color: #041516;
    background-color: #F2E7F1;
    border: 1px solid #F2E7F1;
    border-radius: 40px;
    padding: 2vh 5vh;
    margin: 2vh auto 2vh;
}

.NewProductForm__image-field {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 2vh 0;
}

.NewProductForm__image-field .NewProductForm__remove-image {
    position: absolute;
    top: -5px;
    padding: 0;
}

.NewProductForm__prompt {
    font-weight: bold;
    padding: 0 0 10px;
}

.NewProductForm__fieldset {
    position: relative;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    background-color: rgb(238, 238, 238);
    border: none;
}

.NewProductForm__pop-up .NewProductForm__brand-pop-up {
    position: fixed;
    top: 10vh;
    left: 0;
    height: 80vh;
    width: 100vw;
    border: none;
    background-color: rgb(255 255 255);
    z-index: 3;
    transform: translateX(-107%);
    transition: transform 0.3s ease-out;
    padding: 10px;
    overflow-y: scroll;
}

.NewProductForm__pop-up.active, .NewProductForm__brand-pop-up.active {
    transform: translateX(0);
}

.NewProductForm__remove {
    position: absolute;
    top: 12px;
    right: 12px;
    text-align: right;
    border: 0;
    padding: 0;
    color: #000;
    background-color: #F2E7F1;
    text-align: right;
}

.NewProductForm__remove-image {
    position: absolute;
    right: 12px;
    top: 10px;
    text-align: right;
    border: 0;
    padding: 0;
    font: inherit;
    font-size: 70%;
    font-weight: 600;
    color: #000;
    background-color: inherit;
    text-align: right;
}

@media screen and (min-width: 768px) {
    .NewProductForm input {
        margin: 5px 0 0;
    }
}

@media screen and (min-width: 1024px) and (min-height: 1366px) {
    .NewProductForm input {
        margin: 5px 0 10px;
    }
}