.FormPopUp__close-button {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    color: #000;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem;
    cursor: pointer;
    border: none;
}

.FormPopUp__pop-up {
    padding: 5vh 10px 15vh;
    position: fixed;
    top: 10vh;
    left: 0;
    height: 90vh;
    width: 100vw;
    overflow: scroll;
    border: none;
    background-color: rgb(255 255 255);
    z-index: 3;
    transform: translateX(-107%);
    transition: transform 0.3s ease-out;
    overflow-y: scroll;
}

.FormPopUp__pop-up.active {
    transform: translateX(0);
}

.FormPopUp__pop-up fieldset {
    position: relative;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    background-color: rgb(238, 238, 238);
    border: none;
}

.FormPopUp__pop-up h1 {
    text-align: center;
    padding: 0 0 25px;
    font-size: 30px;
    font-weight: 500;
}