.Product {
    width: 46%;
    height: 325px;
}   

.Product__cropped {
    width: 100%;
    height: 200px;
    object-fit: cover;
    overflow: hidden;
    object-position: 50% 10px ;
}

.Product__cropped img {
    height: 220px;
}

.Product__brand-and-title {
    text-align: center;
    padding: 5px 0;
    font-size: 16px;
    line-height: 1.2;
}

.Product__price {
    text-align: center;
    font-size: 16px;
}