.Product {
    width: 48%;
    padding-bottom: 5vh;
}

.Product p {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.Product__cropped {
    width: 100%;
    height: 35vh;
    overflow: hidden;
    margin-bottom: 10px;
}

.Product__cropped img {
    height: 110%
}

.Product__brand-and-title, .Product__price {
    text-align: center;
    font: 300 16px/20px Poppins, sans-serif;
    letter-spacing: 1px;
}

.Product__price {
    padding: 5px 0;
}

@media screen and (min-width: 375px) and (min-height: 812px) {
    .Product__cropped {
        height: 30vh;
    }
}

@media screen and (min-width: 411px) {
    .Product__cropped {
        height: 35vh;
    }
}

@media screen and (min-width: 540px) {
    .Product__cropped {
        height: 45vh;
    }
}

@media screen and (min-width: 768px) {
    .Product {
        width: 24%;
        padding-bottom: 3vh;
    }

    .Product__cropped {
        height: 23vh;
    }
}

@media screen and (min-width: 1024px) {
    .Product__cropped {
        width: 100%;
        height: 50vh;
        margin-bottom: 1vh;
    }
}

@media screen and (min-width: 1024px) and (min-height: 1366px) {
    .Product__cropped {
        height: 23vh;
    }
}

@media screen and (min-width: 2560px) {
    .Product p {
        text-align: center;
        font: 400 20px/28px Poppins, sans-serif;
    }

    .Product__cropped {
        height: 50vh;
    }
}
